body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #000000; /* AliceBlue */
    margin: 0;
    padding: 0;
}
.dados  {
    font-size: xx-large;
}

.container {
    width: 60%;
    margin: 50px auto;
    padding: 20px;
    background-color: #a599b4; /* White */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #000000; /* Dark Gray */
}

form {
    display: flex;
    flex-direction: column;
}

fieldset {
    border: 3px solid #bd05ce;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    background-color:  #d6bbe9; /* Light Gray */
}

legend {
    padding: 0 10px;
    font-weight: bold;
    color: #000000; /* Dark Gray */
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #000000; /* Medium Gray */
}

input[type="text"],
input[type="number"],
input[type="tel"],
input[type="date"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 3px solid #ab57e4;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #ffffff; /* Light Cyan */
}

textarea {
    resize: vertical;
    height: 100px;
}

input[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: #cc5f06; /* Green */
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #45a049; /* Darker Green */
}